* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

li {
  list-style: none;
}

.list-items {
  position: relative;
  display: block;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  transition: 1s;
  font-weight: bold;
  z-index: 1;
}

.list-items::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scaleY(2);
  transition: 1s;
  border-top: 2px solid crimson;
  border-bottom: 2px solid crimson;
}

.list-items:hover::before {
  transform: scaleY(1.2);
  opacity: 1;
}

.list-items::after {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 100%;
  height: 100%;
  background: red;
  transition: 1s;
  transform: scale(0);
  z-index: -1;
}

.list-items:hover::after {
  transform: scale(1);
}

.list-items:hover {
  color: #fff;
}
